.back-to-top {
  position: fixed;
  bottom: 55px;
  right: -190px;
  z-index: 999999;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  a{
    text-transform: inherit;
    height: 38px;
    padding: 0 15px;
    img{
      @media(min-width: 960px){
        margin-left: 8px;
      }
    }
  }
  &.display{
    right: 18px;
  }
}