.box3{
  display: inline-flex;
  background-color: #f7f7f7;
  position: relative;
  &:before{
    content: '';
    width: 100vw;
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
  }
  li{
    &:nth-child(n+2){
      &:not(.uk-first-column){
        &:before{
          margin: 0 1px !important;
        }
      }
    }
  }
  >*{
    >*{
      text-transform: uppercase;
      font-size: 12px;
      padding: 6px 6px;
    }
  }
}
.block2{
  background-color: #f7f7f7;
  .uk-breadcrumb{
    margin-bottom: 0;
    li{
      &:nth-child(n+2){
        &:not(.uk-first-column){
          &:before{
            margin: 0 1px !important;
          }
        }
      }
    }
    >*{
      >*{
        text-transform: uppercase;
        font-size: 12px;
        padding: 6px 6px;
      }
    }
  }
}
.control1{
  a{
    &:nth-child(n+2){
      margin-left: 20px;
    }
  }
}