/*====================[SVN-Futura]====================*/
@font-face{
  font-family:'SVN-Futura Regular';
  src:url('../fonts/SVN-Futura Regular.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}