.card7{
  .uk-card-header,
  .uk-card-body{
    padding-right: 25px;
    padding-left: 25px;
  }
  .uk-card-body{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .uk-card-header{
    background-color: #999999;
    span{
      color: #ffffff;
    }
    .title{
      font-size: 12px;
      color: #ffffff;
    }
  }
}
.table2{
  tr{
    th{
      font-size: 12px;
      color: #1B1B1B;
      padding-top: 0;
      padding-bottom: 0;
    }
    td{
      color: #999999;
    }
  }
}